.card {
  gap: var(--mantine-spacing-lg);
  padding: var(--mantine-spacing-lg) var(--mantine-spacing-xl);
}

.heading {
  font-weight: 200;
  font-size: 2rem;
}

.postedDate {
  color: var(--mantine-color-dark-2);
}
