.card {
  --lines-to-clamp: 2;

  gap: var(--mantine-spacing-lg);
  padding: var(--mantine-spacing-lg) var(--mantine-spacing-xl);
}

.card:hover {
  transform: translateY(-2%);
  transition: transform 0.1s ease-in-out;
}

.heading {
  font-weight: 400;
  line-height: 1.4;
  font-size: 2.25rem;
  color: var(--mantine-color-black);
}

.postedDate {
  color: var(--mantine-color-dark-2);
}

.lede {
  display: -webkit-box;
  -webkit-line-clamp: var(--lines-to-clamp);
  line-clamp: var(--lines-to-clamp);
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: var(--mantine-color-dark-5);
}

/* MEDIA QUERIES */
@media (max-width: $mantine-breakpoint-sm) {
  .card {
    gap: var(--mantine-spacing-sm);
    padding: var(--mantine-spacing-md) var(--mantine-spacing-lg);
  }

  .heading {
    font-size: 2rem;
    line-height: 1.25;
  }
}
