.logo {
  width: 80px;
  height: 80px;
}

.form {
  width: 100%;
}

.inputs {
  list-style-type: none;
}

@media (max-width: $mantine-breakpoint-sm) {
  .logo {
    width: 60px;
    height: 60px;
  }
}
