.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--mantine-spacing-xl);
}

.section {
  background-color: white;
  border-radius: var(--mantine-radius-lg);
  width: 100%;
  padding: 3rem 3.5rem;
  box-shadow: var(--mantine-shadow-xs);
}

.bodyText {
  white-space: pre-line;
}

@media (max-width: $mantine-breakpoint-lg) {
  .section {
    padding: var(--mantine-spacing-xl);
  }
}
