.header {
  box-shadow: var(--mantine-shadow-xs);
  padding: var(--mantine-spacing-sm) var(--mantine-spacing-lg);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.link {
  text-decoration: none;
  color: var(--mantine-color-black);
}

.title {
  font-weight: 400;
  font-size: x-large;
  margin-bottom: 0.25rem;
}

/* MEDIA QUERIES */
@media (max-width: $mantine-breakpoint-xs) {
  .title {
    display: none;
  }
}
