.footer {
  padding: var(--mantine-spacing-md) var(--mantine-spacing-lg);
  box-shadow: var(--mantine-shadow-xs);
  background-color: var(--mantine-color-gray-3);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--mantine-spacing-md);
}

.copyrightText {
  opacity: 70%;
}

/* MEDIA QUERIES */
@media (max-width: $mantine-breakpoint-xs) {
  .footer {
    flex-direction: column-reverse;
  }

  .logo {
    display: none;
  }
}